.metadata/.lock
.metadata/.log
.metadata/.plugins/
collectImagery/.~lock.BaseLocations.ods#
collectImagery/.~lock.ParkLocations.ods#
collectImagery/ODSReader.pyc
imagery
imageryBases
trainer/build/
*~
*.pyc
dlib/*/build/
dlib/*/*/build
*.so
imageryFinder
xferedImagery
cacheImagery/tmp
.idea